<br />
<!-- Título de la página -->
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<!-- Formulario para editar el perfil -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <!-- Renderizar mensajes de error si existen -->
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- Campo para cambiar la imagen de perfil -->
  <div class="field mx-2 my-3">
    <%= f.label :profile_picture %>
    <%= f.file_field :profile_picture %>
  </div>

  <!-- Campo para cambiar el nombre -->
  <div class="field mx-2 my-3">
    <%= f.label :name %><br />
    <%= f.text_field :name,autofocus: true %>
  </div>

  <!-- Campo para cambiar el correo electrónico -->
  <div class="field mx-2 my-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <!-- Mensaje para confirmación de correo -->
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <!-- Campo para cambiar la contraseña -->
  <div class="field mx-2 my-3">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <!-- Campo para confirmar la contraseña -->
  <div class="field mx-2 my-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <!-- Campo para ingresar la contraseña actual -->
  <div class="field mx-2 my-3">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <!-- Botón para actualizar el perfil -->
  <div class="actions mx-2 my-3">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<!-- Título para cancelar la cuenta -->
<h5 class="mx-3">or</h5>

<!-- Botón para cancelar la cuenta -->
<div>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
</div>
<!-- Enlace para volver atrás -->
<%= link_to "Back", :back, class: "btn " %>

