<p style="color: green"><%= notice %></p>

<%= render @publication %>
<div>
 <%= link_to "Back to publications", publications_path %>
 <% if user_signed_in?%>
  <%if current_user.id == @publication.user_id %>
  <%= link_to "Edit this publication", edit_publication_path(@publication) %> |
  <%= button_to "Destroy this publication", @publication, method: :delete %>
  <% end%>
  <% end%>
</div>

<!-- Mostrar comentarios existentes -->
<h2>Comentarios:</h2>
<% @publication.comments.each do |comment| %>
  <% if comment.user&.profile_picture&.attached? %>
    <%= image_tag comment.user.profile_picture, width: "40px" %>
  <% else %>
    <%= image_tag "default_profile_photo.png", class: "profile-photo", width: "75px" %>
  <% end %>
<% if comment.user&.name %>
    <p><strong><%= comment.user.name %></strong>: <%= comment.content %></p>
    <p class="time-ago"><%= time_ago_in_words(comment.created_at) %> ago</p>
  <% else %>
    <!-- Mostrar un comentario sin usuario o sin nombre de usuario -->
    <p><strong>Usuario Anónimo</strong>: <%= comment.content %></p>
    <p class="time-ago"><%= time_ago_in_words(comment.created_at) %> ago</p>
  <% end %>
<% end %>

<!-- Formulario para agregar un nuevo comentario -->
<%= form_with(model: [@publication, @publication.comments.build]) do |form| %>
  <%= form.submit "Agregar comentario" %>
  <div class="field">
    <%= form.text_area :content %>
  </div> 
<% end %>


